html,
body {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#player {
    z-index: 10;
    /* background-color: red; */
    /* border: 1px solid; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#platform_floor {
    overflow: hidden;
    bottom: 0px;
    z-index: 10;
    position: absolute;
}

/* #floor {
    height: 200px;
    width: 100vw;
    background-color: brown;
    bottom: 0px;
    position: absolute;
} */

.platform {
    z-index: 10;
    position: absolute;
}