html,
body {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#player {
    z-index: 10;
    /* background-color: red; */
    /* border: 1px solid; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#platform_floor {
    overflow: hidden;
    bottom: 0px;
    z-index: 10;
    position: absolute;
}

/* #floor {
    height: 200px;
    width: 100vw;
    background-color: brown;
    bottom: 0px;
    position: absolute;
} */

.platform {
    z-index: 10;
    position: absolute;
    width: auto !important;
}

#score {
    position: fixed;
    top: 10px;
    right: 40px;
    color: #fff;
}

#gameOverScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
#gameOverScreen.hidden {
    display: none;
}
#highscoreList {
    height: 195px;
    overflow-y: scroll;
    margin-bottom: 30px;
    margin-top: 10px;
}

#highscoreList ol { 
    margin-top: 10px;
}